@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #071622;
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    rgba(13, 44, 68, 0.4),
    rgba(13, 44, 68, 0.4)
  );
  background-repeat: no-repeat;
  /* background-size: contain; */
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

.page-item.active {
  background-color: #0fbcf9;
  color: #fff;
}

.page-link {
  color: #000;
  font-size: 1rem;
}

.page-link:hover {
  color: #0fbcf9;
}

.previous,
.next {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.previous {
  border-right: 1px solid #0fbcf9;
}

.next {
  border-left: 1px solid #0fbcf9;
}
/*  */
.card {
  width: 18rem;
  height: auto;
}

.book-item {
  position: relative;
  width: 270px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.book-item:hover {
  transform: scale(1.05);
}

.book-item .card-top-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-item .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.book-item .card-text {
  font-size: 14px;
  margin-top: 4px;
}

.book-item p {
  margin: 4px 0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.availability {
  font-size: 14px;
  font-weight: bold;
}

.availability--available {
  color: green;
}

.availability--not-available {
  color: red;
}
.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button,
.btn {
  background-color: #0d2c44;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1b5788;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(245, 245, 245, 0.4);
  padding: 15px 5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cartbtn {
  padding: 5px;
  border-radius: 2px;
  background: #1b5788;
  color: #efefef;
  border: none;
}
.cartbtn:hover {
  background: forestgreen;
}

/*  */
.CartList {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d2c44;
  flex-direction: column;
  color: #fff;
  width: 800px;
  gap: 20px;
  padding: 10px;
  border-radius: 2px;
}
.carditem button {
  padding: 5px 15px;
  border-radius: 2px;
  background: #9eabb4;
  border: none;
  color: #fff;
  margin-left: 10px;
}
.CardItem {
  list-style: none;
  flex-wrap: wrap;
}
.carditem,
.Login form label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*  */
.Login form {
  padding: 50px 20px;
  background: rgba(13, 44, 68, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  flex-direction: column;
  display: flex;
  width: 400px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 3px solid rgba(245, 244, 245, 0.8);
  box-shadow: 5px 5px 20px rgba(3, 3, 3, 0.2);
  background-position: center;
  background-size: cover;
  background-image: url(./assets/img2.svg);
}
 .btn:hover {
  color: #efefef;
  background: #071622;
}
