@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #071622;
  overflow-x: hidden;
  background: linear-gradient(
      to right,
      rgba(13, 44, 68, 0.4),
      rgba(13, 44, 68, 0.4)
    ),
    url(./assets/img2.svg);
  background-position: center;
  background-repeat: no-repeat;

  background-repeat: no-repeat;
}

/* Pagination  */
.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  /* background: #071622; */
  padding: 10px;
}

.page-item {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  margin: 0 2px;
  box-shadow: 5px 5px 10px rgba(245, 245, 245, 0.2);
  /* border: 1px solid rgba(13, 44, 68); */
  padding: 4px 10px;
}

.page-item.active {
  background-color: #1b5788;
  color: #fff;
}

.page-link {
  color: #000;
  font-size: 1rem;
  border: none;
}
.page-item.active .page-link {
  background: transparent;
}
.pagination .break {
  background: #efefef;
  color: #071622;
  padding: 5px;
  width: 50px;
  text-align: center;
}

.page-link:hover {
  color: #0fbcf9;
}

.previous,
.next {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.previous {
  border-right: 1px solid #0fbcf9;
}

.next {
  border-left: 1px solid #0fbcf9;
}

/* Card & Books */
.card {
  width: 18rem;
  height: auto;
}

.book-item {
  position: relative;
  width: 270px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.book-item:hover {
  transform: scale(1.05);
}

.book-item .card-top-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-item .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.book-item .card-text {
  font-size: 14px;
  margin-top: 4px;
}

.book-item p {
  margin: 4px 0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.availability {
  font-size: 14px;
  font-weight: bold;
}

.availability--available {
  color: green;
}

.availability--not-available {
  color: red;
}

/* Search Bar */
.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button,
.btn {
  background-color: #0d2c44;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1b5788;
}

/* BookList */

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(245, 245, 245, 0.4);
  padding: 15px 5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cartbtn {
  padding: 5px;
  border-radius: 2px;
  background: #1b5788;
  color: #efefef;
  border: none;
}
.cartbtn:hover {
  background: forestgreen;
}

/*  Card List */

.CardItem {
  list-style: none;
  flex-wrap: wrap;
}
.carditem,
.Login form label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.CartList {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d2c44;
  flex-direction: column;
  color: #fff;
  width: 800px;
  gap: 20px;
  padding: 10px;
  border-radius: 2px;
  border-collapse: collapse;
}

.CartList td,
.CartList th {
  width: 200px;

  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.CartList button {
  padding: 5px 15px;
  border-radius: 2px;
  background: #9eabb4;
  border: none;
  color: #fff;
  margin-left: 10px;
}
.bg-img {
  background: url(./assets/img3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.emptyCart {
  width: 250px;
  height: auto;
  background: rgba(13, 44, 68, 0.5);
  border: 1px solid #0d2c44;
  border-radius: 2px;
}

/* Login */
.Login form {
  padding: 50px 20px;
  background: rgba(13, 44, 68, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  flex-direction: column;
  display: flex;
  font-size: 16px;
  width: 500px;

  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  border: 3px solid rgba(245, 244, 245, 0.8);
  box-shadow: 5px 5px 20px rgba(3, 3, 3, 0.2);
  background-position: center;
  background-size: cover;
}
.btn:hover {
  color: #efefef;
  background: #071622;
}

/* Topbar */
.topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userLogo {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 30px;
  background: #0d2c44;
  padding: 20px 10px;
  border-radius: 2px;
  align-items: center;
}
